body {
    background-color: #94C979;
}

#divcontainer {
    width: 98.2vw;
    height: 97.5vh;
    background-color: 94C979;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divprincipal {
    display: flex;
    background: linear-gradient(to bottom, #94C979, #88C170, #77B55F);
    width: 100%;
    height: 70px;
    align-items: center;
}

#logoNav {
    width: 60px;
    height: 60px;
}

.titlepoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.textpoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: #94C979;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

a:hover {
    cursor: pointer;
}

#aInicio {
    margin-left: 355px;
}

#aPrincipal {
    background-color: #6fc942;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

#Cuerpo {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#f8f8e7;
    width: 80vw;
    height: 130vh;
    margin-top: 10px;
    border-radius: 1%;
    padding-top: 40px;
    padding-bottom: 70px;
}

#textHistory {
    width: 70vw;
    text-align: justify;
}

li {
    text-align: justify;
    margin-left: -10px;
    margin-right: 10px;
}

#textHistory img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-top: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
  }