body {
    background-color: #94C979;
}

#divcontainer {
    width: 98.2vw;
    height: 97.5vh;
    background-color: 94C979;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divprincipal {
    display: flex;
    background: linear-gradient(to bottom, #94C979, #88C170, #77B55F);
    width: 100%;
    height: 70px;
    align-items: center;
    
}

#logoNav {
    width: 60px;
    height: 60px;
}

.titlepoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    
    
    
}

.textpoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}

#textoIndex{
    text-align: justify;
    padding-right: 60px;
    padding-left: 60px;

}
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-right: 500px;
    margin-top: 50px;
}

#contenedor2{
    display: flex;
}

.imagen{
    height: 200px;
    width: 200px;
    border-radius: 350px;
    margin-right: 60px;
}





a {
    text-decoration: none;
    color: inherit;
    background-color: #94C979;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

a:hover {
    cursor: pointer;
}

#aInicio {
    margin-left:  530px;
    background-color: #6fc942;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

#Cuerpo {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#f8f8e7;
    width: 80vw;
    height: 200vh;
    margin-top: 10px;
    border-radius: 1%;
}

#contenedor3{
    text-align: justify;
    padding-right: 60px;
    padding-left: 50px;

}

.tex{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}