body {
    background-color: #94C979;
}

#divcontainer {
    width: 98.2vw;
    background-color: 94C979;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divprincipal {
    display: flex;
    background: linear-gradient(to bottom, #94C979, #88C170, #77B55F);
    width: 100%;
    height: 70px;
    align-items: center;   
}

#bannerindex{
    width: 98vw;
    height: 30vh;
    
}

#logoNav {
    width: 60px;
    height: 60px;
}

.titlepoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.subtitlepoppins{
    display: block;
    margin: 0% auto;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-left: 0%;
}

.textpoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: #94C979;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

a:hover {
    cursor: pointer;
}

#aInicio {
    margin-left: 540px;
    background-color: #6fc942;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

#CuerpoIndex {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#f8f8e7;
    width: 80vw;
    height: 98vw;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: justify;
    border-radius: 10px;

}

.textIndex{
    text-align: justify;
    padding-left: 68px;
    padding-right: 68px;
}

#h4s1{
    text-align: center;
}

#seccionIndex{
    display: block;
    flex-direction: column;
    width: 70vw;
    height: 117vh;
    margin-top: 0px;;
}

#seccionIndex h3{
    text-align: center;
    color: #1c2417f8;
}



#Energia1{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 49.5vh;
    margin-bottom: 50px;
    align-items: center;
}

#Energia1Text{
    display: flex;
    flex-direction: column;
}

#Energia2{
    margin-top: 100px;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 51.5vh;
    align-items: center;
}

.pEnergy{
    margin-left: 30px;
    margin-right: 30px;
}


footer{
    background-color: #77B55F;
    width: 100%;
    display: flex; 
    padding-left: 10px;
    margin-top: 10px;
}

#redesfooter{
    display: flex;
    flex-direction: column;
    padding-left: 660px;
    padding-top: 150px;
    text-align: center;
}

#redesfooter p{
    margin-top: 5px;
    margin-bottom: -5px;
}


