body {
    background-color: #94C979;
}

#divcontainer {
    width: 98.2vw;
    background-color: 94C979;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divprincipal {
    display: flex;
    background: linear-gradient(to bottom, #94C979, #88C170, #77B55F);
    width: 100%;
    height: 70px;
    align-items: center;   
}


#logoNav {
    width: 60px;
    height: 60px;
}

.titlepoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.textpoppins {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: #94C979;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

a:hover {
    cursor: pointer;
}

#aInicio {
    margin-left: 540px;
}

#aPrincipal {
    background-color: #6fc942;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

#CuerpoHidrogeno {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#f8f8e7;
    width: 80vw;
    height: 143vh;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: justify;
    border-radius: 10px;
}

#secctionHidrogeno{
    padding-left: 80px;
    padding-right: 80px;
}

footer{
    background-color: #77B55F;
    width: 100%;
    display: flex; 
    padding-left: 10px;
    margin-top: 10px;
}

#redesfooter{
    display: flex;
    flex-direction: column;
    padding-left: 660px;
    padding-top: 150px;
    text-align: center;
}

#redesfooter p{
    margin-top: 5px;
    margin-bottom: -5px;
}
